doctype html
html
    head
        style
            include style.css
    body
        def#header Hello World

        block content 

        div.footer Дякую за увагу!.
            | THX for attention!
            br
            a(href=frontUrl) Go to Lection Email
                