Don`t worry. Every forgot something. Just click the link below to reset your password.
<table>
    <tr>
        <td style='font-size: 10px; text-align: center;'>
            <a href={{{forgotPassURL}}}>Reset</a>
        </td>
    </tr>
</table>